body{
    background-color: #ebebeb;
}
#Buscar{
    margin-left:5em;
}

#Buscartxt{
  width: 50em;
}

#Navv{
    background-color: #013763 !important;
    color: #cbced3 !important;
    position: fixed !important;
    width: 100% !important;
    z-index: 95;
}

.navbar img{
    height: 2em;
    width: 2em;
    margin-bottom: 3px;
}
.Registro{
    margin-left: 5em;
    margin-top: 2em;
}

.botoncillo{
    width: 20em;
    
}

.botoncillo{
    width: 100em !important;
}

#BrandTienda{
    color: #e1e2e4 !important;
    margin-left: 2em !important;
    margin-bottom: .5em !important;
}

.nav-item a{
    margin-left: 5em;
    color:#e1e2e4;
    padding-top: 3px;
}

.nav-item a:hover{
    color:#83acff;
}

.Contenido{
    padding-top: 7em;
    padding-left: 5em;
}

.contenido-reg{
    padding-top: 2em;
    padding-left: 5em;
}



#Muestra{
    padding-top: 5em;
    
}

.muestras{
    display: inline-block;
    width: 10em;

}

.muestras .imagen-muestra a {
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    width: 70px;
    height: 70px;
}

.muestras .imagen-muestra a:hover::before {
    content: "";
    width: 3px;
    height: 100%;
    background: #007bff;
    position: absolute;
    top: 0;
    left: 0;
}


.Muestra-chida{
   
}

.imagen-muestra img{
    display: block;
    width: 100%;
}


.Producto{
    border-style: solid;
    border-width: 2px;
    margin: 2em;
    padding: 1em;
    width: 17.5em;
    height: 30em;
    display: inline-block;
    align-content: center;
    background-color:#cbced3;
    
}

.producto h2{
    color:#0088f7;
}

.producto img{
    max-width: 15em;
    height: 15em;
}

.container{
    margin-top: 5em;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #3a3a3a; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}
 

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.dropdown-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
 
.sidenav a:hover, .offcanvas a:focus .dropdown-btn:hover {
    color: #f1f1f1;
}
 
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
 
#main {
    transition: margin-left .5s;
    padding: 20px;
    overflow:hidden;
    width:100%;
}
body {
  overflow-x: hidden;
}
 
.topnav {
    background-color: #333;
    overflow: hidden;
}
 
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
 

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
 

.active {
  background-color: #013763;
  color: #ddd;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.imagen-muestra img{
    height: 5em;
    max-width: 5em;
}
 
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
